/* div > h2 {

    font-style: italic;
}

h2 + p {

    color: red;
}

.list > li {

    list-style-type: none;
    border-bottom: 1px solid grey;
    
} */

/* a[title="BCIT homepage"] {

    background-color: yellow;
}

li > a:link {
    color: green;
    background-color: transparent;
}

ul > li:first-child::first-letter {

    font-weight: bold;
    font-size: 120%;
}

li > a:visited {

    color: red;
    background-color: transparent;
}

li > a:hover {
    color: pink;
    background-color: transparent;
} */


/* .main {
    color: rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
}

.special {

    color: green; } */
/* 
img {
    float: left;
    margin-right: 10px;
    
}

.below {
    clear: left;
    padding: 10px;
} */

.target {
    width: 50px;
    height: 50px;
    background-color: forestgreen;
    position: absolute;
    top:0;
    right: 0;

}

.container {
    border: 2px gray solid;
    position: relative;
}


